doctype html
html
  body
    h2 Send e-mail :
    form(method='post', action='/send_email')
      | Email:
      br
      input(type='text', name='email', placeholder='Enter Email Id')
      br
      | Subject:
      br
      input(type='text', name='sub', placeholder='Enter Subject')
      br
      | Message:
      br
      input(type='text', name='message', placeholder='Message', size='100')
      br
      br
      input(type='submit', value='Send')
